@using BrokerPremium.Core.Models
@model IEnumerable<PolicyListViewModel>

<a class="navbar-brand" asp-area="" asp-controller="Policy" asp-action="PolicyList">BrokerPremium</a>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Policies</h3>
                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>PolicyNumber</th>
                            <th>TypeOfInsurance</th>
                            <th>DateValidFrom</th>
                            <th>DateValidTo</th>
                            <th>InSum</th>
                            <th>Customer</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var policy in Model)
                        {
                            <tr>
                                <td>@policy.PolicyNumber</td>
                                <td>@policy.TypeOfInsurance</td>
                                <td>@policy.DateValidFrom</td>
                                <td>@policy.DateValidTo</td>
                                <td>@policy.InsSuma</td>
                                <td>@policy.CustomerName</td>
                                <td>
                                    <a asp-area="" asp-action="EditPolicy" asp-controller="Policy" asp-route-id="@policy.Id" class="btn btn-block btn-outline-info btn-xs">Edit</a>
                                    <a asp-area="" asp-action="ClaimsPolicy" asp-controller="Policy" asp-route-id="@policy.Id" class="btn btn-block btn-outline-warning btn-xs">Claims</a>
                                    <a asp-area="" asp-action="ObjectsPolicy" asp-controller="Policy" asp-route-id="@policy.Id" class="btn btn-block btn-outline-warning btn-xs">Objects</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>